/* BASE COMPONENTS */
nav {
    background-color: white;
}

body {
    background-color: rgba(22, 123, 22, 0.48);
}

section {
    background-color: rgba(46, 126, 4, 0.47);
}

h1 {
    color: black;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

h2 {
    color: black;
    text-align: center;
    font-size: x-large;
}

h3 {
    color: black;
    text-align: center;
    font-size: larger;
}

ul {
    text-align: center;
}

p {
    font-size: large;
}

p1 {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

footer {
    background-color: rgba(255, 237, 141, 0.8);
}


/* LOCATIONS */
.leaveReviewBtn {
    width: 100%;
    font-size: larger;
    font-weight: bold;
    border: black;
    border-width: 5px;
    border-style: solid;
    background-color: gold;
}


/* MAP */
.img-map {
    width: 582px;
    position: fixed;
    top: 112px;
    left: 700px;
}

.img-slothMP {
    width: 25px;
    position: fixed;
    top: 305px;
    left: 930px;
}

.img-matchMP {
    width: 25px;
    position: fixed;
    top: 195px;
    left: 1040px;
}

.img-deerMP {
    width: 25px;
    position: fixed;
    top: 350px;
    left: 1000px;
}

.img-cornMP {
    width: 25px;
    position: fixed;
    top: 330px;
    left: 950px;
}

.img-sharkMP {
    width: 25px;
    position: fixed;
    top: 138px;
    left: 960px;
}


.tooltip-wrap {
    position: relative;
}

.tooltip-wrap .tooltip-content {
    display: none;
    position: fixed;
    top: 300px;
    left: 1320px;
    text-align: center;
    background-color: #fff;
    padding: .5em;

}

.tooltip-wrap:hover .tooltip-content {
    display: block;
    height: 75px;
    width: 150px;
}